@import 'compass/css3';

/* Global variables, mixins, etc. */

$mode: 'debug';

$contexts:  'professions' #605385 26,
            'health'      #00b1a6 22,
            'design'      #ff6b53 20,
            'culture'     #34c780 25,
            'education'   #ffc123 21;

$default_color: #A65A68;

$banner_height: 76px;
$nav_width: 150px;

$break_small  : 640;
$break_smedium: 960;
$break_medium : 1310;
$break_large  : 2000;

$break_short  : 810;

@each $context in $contexts {
  $label: nth($context, 1);

  %#{$label}_bg_color {
    background-color: nth($context, 2);
  }
}

@mixin add_to_node($label) {
  $index: index($contexts, $label);
  .node-#{nth($contexts, $index + 2)} {
    @content;
  }
}

@mixin add_nodes {
  @each $context in $contexts {
    body.page-node-#{nth($context, 3)} & {
      background-color: nth($context, 2);
    }
  }
}

@mixin tile($size) {
  body.media-#{$size} & {
    @content
  }
}

@mixin media($sizes) {
  @each $size in $sizes {
    @if $size == small {
      @media only screen and (max-width: $break_small + 'px') {
        @content
      }
    } @else if $size == smedium {
      @media only screen and (min-width: $break_small + 1 + 'px') and (max-width: $break_smedium + 'px') {
        @content
      }
    } @else if $size == medium {
      @media only screen and (min-width: $break_small + 1 + 'px') and (max-width: $break_medium + 'px') {
        @content
      }
    } @else if $size == large {
      @media only screen and (min-width: $break_medium + 1 + 'px') and (max-width: $break_large + 'px') {
        @content
      }
    } @else if $size == xlarge {
      @media only screen and (min-width: $break_large + 1 + 'px') {
        @content
      }
    } @else if $size == short {
      @media only screen and (max-height: $break_short + 'px') {
        @content
      }
    }
  }
}

%active {
  background-color: #444;
  color: white;
}

%inactive {
  background-color: white;
  color: #444;
}

%upper {
  font-family: brandon;
  text-transform: uppercase;
  font-weight: bold;
}

%title {
  @extend %upper;
  font-size: 2em;
  margin-top: 0px;
  margin-bottom: 20px;
  @include media(large xlarge) {
    font-size: 3em;
  }
}

%h2a {
  font-size: 18px; 
  color: #3b3b3b; 
  font-style: italic; 
  font-weight: normal; 
  font-family: brandon;
  &:hover {
    color: lighten(#3b3b3b, 30%);
  }
}

%see-all {
  position: relative;
  font-size: 11px;
  font-weight: bold;
  font-family: brandon;
  color: #3c3c3c;
  background: url(../images/rounded_black_arrow.png) right no-repeat;
  padding-right: 22px;

  &:hover {
    color: lighten(#3c3c3c, 30%);
    left: 2px;
    padding-right: 24px;
  }
}

@mixin see-all($color: black) {
  @extend %see-all;
  @if $color == white {
    background: url(../images/rounded_white_arrow.png) right no-repeat;
    &:hover {
      color: darken(#fff, 20%);
    }
  }
}
