# Ignore configuration files that may contain sensitive information.
/sites/all/themes/csc/css/style.css
/sites/all/modules/main_menu/plugins/content_types/main_menu.css
/sites/all/modules/csc_isotope/plugins/content_types/css_isotope.css
sites/*/*settings*.php
sites/csc*

# Ignore paths that contain generated content.
cache/
files/
sites/*/files
sites/*/private
sites/default/

# Ignore default text files
.htaccess
robots.txt
/CHANGELOG.txt
/COPYRIGHT.txt
/INSTALL*.txt
/LICENSE.txt
/MAINTAINERS.txt
/UPGRADE.txt
/README.txt
sites/all/README.txt
sites/all/modules/README.txt
sites/all/themes/README.txt

# vim stuff
*.un~
*.swp
*.DS_Store

# compass stuff

.sass-cache
.ruby-version
/compass_app_log.txt
