@import 'global';

#csc-right{
  @include transition-property(translate);
  @include transition-duration(200ms);
  @include translateX(340px);

  position: fixed;
  right: 0px;
  top: $banner_height;
  z-index: 50;
  height: 100%;
  width: 339px;
  min-height: 750px;
  opacity: 0.98;
  border-left: solid 1px #e0e0e0;
  background: #ffffff;

  @include media(small) {
    @include border-bottom-left-radius(3px);
    top: 58px;
    position: absolute;
    height: 500px;
    width: 168px;
    h2 {
      margin-top: 8px;
    }
    #csc-column-content {
      padding: 8px;
      width: 186px;
    }
    #edit-search-block-form--2 {
      width: 7.4em;
    }
    .form-text {
      width: 120px;
      margin-left: 3px;
    }
  }

  &.in {
    @include translateX(0px);
  }

  form {
    padding-right: 0.6em;
  }
}

#csc-column-top{
  float: left;
  width: 100%;
  position: relative;
  background: #e8e7e5;
}

#csc-column-title{
  margin: 12px 0px 8px;
  opacity: 0.7;
  color: #000;
  font-family: brandon;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  @include media(small) {
    font-size: 14px;
  }
}

#csc-column-close{
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font: bold 18px brandon;
  text-transform: uppercase;
  color: #444;
  @include media(small) {
    right: 8px;
    top: 6px;
    font-size: 15px;
  }
}

#csc-column-content{
  float: left;
  width: 312px;
  padding: 20px;
}

.csc-hide { display: none; }
.csc-show { display: block; }
